%h1 Acerca de UruguayAccesible

.block
  %h2 Un Poco de Contexto
  %p Según el último censo de Uruguay, 517.771 personas presenta algún tipo de dificultad que le impide moverse, ver o escuchar. De ese número, un 35,92 % se encuentra en el departamento de Montevideo.
  %p Pensando en las necesidades de esta gente, que uno ve a diario, es que surge <strong>UruguayAccesible</strong>.

.block
  %h2 Solución Planteada
  %p <strong>UruguayAccesible</strong> es una aplicación para personas que necesitan ciertos niveles de accesibilidad. En la misma, la persona va a poder seleccionar la accesibilidad que necesita y una vez seleccionada puede elegir entre hoteles, restauranes, plazas, museos, playas, edificios que tengan la facilidad que están buscando. Asimismo, van a poder ver eventos, páginas de interés, instituciones que trabajan con y para las dificultades que se presentan.
  %p Es una herramienta que busca brindar información para que las personas que necesitan accesibilidad puedan salir tranquilos y saber que el lugar al que van tiene las facilidades que necesita para disfrutar plenamente de todas las actividades.

.block
  %h2 Hecho y Por Hacer
  %p La aplicación cuenta con control del tamaño de letra para personas de baja visibilidad, un filtro del contenido a partir de la o las accesibilidades relevantes para cada usuario.
  %p Se comenzará mostrando la información del departamento de Montevideo, pero nuestra idea es expandirnos y cubrir, poco a poco, todos los departamentos de Uruguay.
  %p Proximamente, entre la lista de funcionalidades por implementar, está un lector opcional para personas con problemas de visión sin acceso a un ScreenReader, navegación por comandos de teclado para personas con motricidad reducida, responsividad absoluta y una guía de transporte marcando rutas y medios accesibles.
  %p ¿Querés colaborar con nuevas ideas? Envianos un <a href="#{ contact_path }">e-mail</a> y lo haremos posible.

.block
  %p En la investigación realizada hasta el momento se ha podido ver que hay varios lugares que cuentan con facilidades para estas personas. Asi, podemos ver que el Museo Naval ofrece placas escritas en braile para que las personas que no pueden ver puedan leer qué es lo que está enfrente suyo, que hay varias plazas en Montevideo y el interior que están colocando juegos para que las personas en sillas de ruedas o con dificultad motriz puedan aprovechar, que hay hoteles que están altamente equipados. Nos hemos encontrado con muchos lugares que tienen analizada la situación y reciben dentro de su público a personas que necesitan de ciertas facilidades. 
  %p También hemos encontrado playas que están colocando rampas para que las personas en silla de ruedas puedan acceder a la misma, como ser la playa pocitos y cerro. Obras de teatro que son autodescriptas, en las cuales las personas que no pueden ver pueden escuchar la descripción de la obra. Hemos descubierto que en Montevideo hay varias activides, instituciones, lugares que han analizado y han adaptado su institución para que personas en silla de ruedas, con dificultad visual o visibilidad nula puedan acceder y disfrutar de la experiencia que ofrecen. 

.block
  %h2 Aspectos Técnicos
  %p La aplicación está desarrollada en Ruby on Rails como framework, las vistas generadas utilizando HAML lo que asegura la creación de HTML valido (Importante para lectores de pantallas). El hosting de la aplicación será proporcionado por Heroku.com. Como ultimo el código fuente estará enteramente disponible online siguiendo con la politica de Open Source.
