#coming-soon
  #center-box
    %h1 AccesibleUY
    %h2 Muy Pronto
    %p.separator
    %p Conocé más o contribuí al proyecto en <a href="http://github.com/gabrielosorio/accesible_uy">Github</a>.
    %p Contactanos directamente a <a href="mailto:accesibleuy@gmail.com">accesibleuy@gmail.com</a>!
