<h1>Editing accessibility_type</h1>

<%= render 'form', locals: { accessibility_type: @accessibility_type } %>

<%= link_to 'Show', @accessibility_type %> |
<%= link_to 'Back', accessibility_types_path %>
