%h1 Bienvenido

%p [Short description here]

.row
  .col-md-4
    %h2 Seleccione accessibilidades
    %ul.accessibilities.nav.nav-pills.nav-stacked
      - @accessibilities.each do |a|
        %li{ class: a.name.downcase }
          = link_to a.name, set_accessibilities_path, data: { code: a.shortcut, accessibility_id: a.id }, class: 'list-group-item shortcutable'
  .col-md-8