%h1 Bienvenido

%p Uruguay Accesible es una aplicación para personas que necesitan ciertos niveles de accesibilidad. En la misma la persona va a poder seleccionar la accesibilidad que necesita y una vez seleccionada puede elegir entre hoteles, restauranes, plazas, museos, playas, edificios que tengan la facilidad que están 
buscando. Asimismo, van a poder ver eventos, páginas de interés, instituciones que trabajan con y para las dificultades que se presentan. 

%p Es una herramienta que busca brindar información para que las personas que necesitan accesibilidad puedan salir tranquilos y saber que el lugar al que van tiene las facilidades que necesita para disfrutar plenamente de todas las actividades.

.row
  .col-md-4
    %h2 Seleccione accessibilidades
    %ul.accessibilities.nav.nav-pills.nav-stacked
      - @accessibilities.each do |a|
        %li{ class: a.name.downcase }
          = link_to a.name, set_accessibilities_path, data: { code: a.shortcut, accessibility_id: a.id }, class: 'list-group-item shortcutable'
  .col-md-8
