!!!
%html
  %head
    %title AccesibleUY
    %meta{ content: 'True', name: 'HandheldFriendly' }
    %meta{ content: '320', name: 'MobileOptimized' }
    %meta{ content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0', name: 'viewport' }
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body#stripped
    = yield
